/*HEADER*/
.header {
    background-color: rgb(238, 129, 56);
    display: flex;
    justify-content: space-between;
}

.header__menu_backdrop {
    background: rgba(255, 255, 255, 0.0);
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vh;
    z-index: 1;
}

.header__menu_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    padding-left: 1rem;
}

.header__menu_burger {
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.header__menu_burger::before,
.header__menu_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.header__menu_burger::before {
    transform: translateY(-9px);
}

.header__menu_burger::after {
    transform: translateY(9px);
}

/*MENU BUTTON ANIMATION*/
.header__menu_btn.open .header__menu_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.header__menu_btn.open .header__menu_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.header__menu_btn.open .header__menu_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/*END OF ANIMATION*/

.header__menu_list {
    background: white;
    display: none;
    left: 0px;
    position: fixed;
    top: 68px;
    z-index: 1;
}

.header__menu_content {
    background: rgb(243, 243, 243);
    margin: 0;
    margin-left: .5rem;
    padding: 1.5rem;
    width: 200px;
}

.header__menu_item {
    border-bottom: 2px solid lightgrey;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-top: .5rem;
}

.header__list {
    display: flex;
    padding-right: 1.5rem;
}

.header__listItems {
    color: white;
    cursor: pointer;
    font-size: 20px;
    list-style: none;
    margin-left: 1.5rem;
    margin-top: .25rem;
}

/*FOOTER*/
.footer {
    margin: auto;
    width: 100%;
}

.footer__social_bar {
    align-items: center;
    border-top: 1px solid rgb(238, 129, 56);
    margin-top: 2rem;
    text-align: center;
}

.footer__social_icons {
    color: rgb(238, 129, 56);
    display: flex;
    font-size: 20px;
    justify-content: center;
    list-style: none;
    margin: 1rem;
    padding: 0;
}

.footer__social_icons a {
    color: inherit;
    text-decoration: none;
}

.footer__social_icons li {
    cursor: pointer;
    margin: 1rem;
    margin-bottom: 0;
    margin-top: 0;
}

.footer__links {
    background-color: rgb(238, 129, 56);
}

.footer__links_list {
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0;
}

.footer__links_list a {
    color: inherit;
    text-decoration: none;
}

.footer__links_listItem {
    cursor: pointer;
    margin: 1rem;
}

.footer__copy {
    color: rgb(238, 129, 56);
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    padding-top: 1rem;
}