html {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 80rem;
}

.profile__page_header {
    background-image: url(images/food-image-4.jpg);
    position: relative;
    height: 350px;
    width: 100%;
    /* margin: 2rem auto; */
    text-align: center;
}

.your__profile_header {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:6rem;
    font-weight: bolder;
    text-align: center;
    color: white;
}

/* coming from the ParentPage */
.user_info {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px
}

/* coming from the Parent.js component */
.parent__name_header {
    font-weight: bolder;
}

.parent__info_container {
    display: grid;
    color: #2E284D;
    margin: auto;
    text-align: center;
}

.parent__info_card {
    border-color: rgb(255, 56, 0);
    border-radius: 25px;
    border-style: solid;
}

#profile__pic {
    background-image: url(images/profile-pic.jpg);
    border-radius: 50%;
    height: 233px;
    margin: auto;
    margin-top: 10px;
    width: 233px;
}

.pantry__buttons_container {
    margin-left: 5px;
    margin-right: 5px;
}

.parent__first_name, .parent__last_name, .parent__email {
    font-weight: bolder;
}

/* coming from the Parent.js component */
.child__info_containter {
    /* border: solid rgb(255, 56, 0) 2px;
    border-radius: 25px; */
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

/* coming from the Parent.js component */
.children__name_header {
    border-bottom: 1px solid rgb(255, 56, 0);
    color: #2E284D;
    padding: 3px;
    text-align: center;
}

/* coming from the Child.js component */
.test_child_grid {
    /* display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px; */
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    background-color: #eee;
    border-radius: 25px;
    color: #2E284D;
    display: flex;
    flex-direction: column;
    padding: 10px;
    visibility: hidden;
    height: 20px;
}

.child__age, .child__allergies, .child__preferences {
    font-weight: bolder;
}

.child__name {
    cursor: pointer;
    visibility: visible;
}

/* coming from the Child.js component */
.test_child_grid:hover {
    background-color: #64924d;
}

/* coming from the ParentPage */
.delete_child_minus_button_contaier {
    justify-content: center;
}

/* coming from the Parent.js component */
.add_child_plus_button_container {
    justify-content: center;
    padding-bottom: 10px
}

/* coming from the Parent.js component */
.add_ingredient_plus:hover{
    background-color: lightgray;
}

.add_child_plus, .delete_child_minus, .view_saved_recipes {
    background-color: #2E284D;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 12px 24px;
}
    
.add_child_plus:hover, .delete_child_minus:hover, .view_saved_recipes:hover {
    background-color: lightgrey;
    color: #2E284D;
    font-weight: bolder;
}

.add_ingredient_plus {
    border-radius: 8px;
}

.delete_ingredient_minus {
    border-radius: 8px;
}

/** Add child form **/
.add_child__container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.welcome__add_picky_eater {
    text-align: center;
}

.header_add_your_eater {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #2E284D;
}

.add_your_eater__info {
    color: #FF3800;
    font-weight: bold;
    text-align: center;
}

.add_child {
    margin-left: 27.5%;
    margin-right: 20%;
    margin-bottom: 20%;
    margin-top: 2.5%;
}

.add_child_submit {
    background-color: #2E284D;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    /* font-weight: bolder; */
    margin-top: 40px;
    padding: 6px 12px;
    margin-top: 5%;
    margin-left: 37.5%;
}

.test5 {
    padding: 7.5px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait),
only screen and (max-device-width: 640px) {
    .profile__page_header, .your__profile_header {
        align-items: center;
        display: flex;
        flex-direction: column;
        line-height: normal;
        margin: 0;
        text-align: center;
    }

    .user_info, .test_child_grid, .parent__info_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: auto;
        text-align: center;
    }
}

@media screen and (max-width: 730px) {
    .user_info {
        display: grid;
        grid-template-columns: 1fr;
    }
}