@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.pantry-container {
    cursor: pointer;
    display: block;
    font-size: 20px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pantry-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.pantry-container:hover input ~ .radio-btn {
    background-color: lightgray;
}

.pantry-container input:checked ~ .radio-btn {
    background-color: #4FA125;
}

.pantry-container input:checked ~ .radio-btn:after {
    display: block;
}

.pantry-container .radio-btn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF3800;
}

.body__container {
    overflow-y: scroll;
}

.allergy-list-btn, .delete__allergy_minus, .add_ingredient_plus, .delete_ingredient_minus, .search_recipes_button {
    background-color: #2E284D;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 40px;
    padding: 12px 24px;
}

.allergy-list-btn:hover, .delete__allergy_minus:hover, .add_ingredient_plus:hover, .delete_ingredient_minus:hover, .search_recipes_button:hover {
    background-color: lightgrey;
    color: #2E284D;
    font-weight: bolder;
}

.child-to-remove-container {
    cursor: pointer;
    display: block;
    font-size: 25px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.child-name-to-remove {
    color: #2E284D;
    font-weight: bold;
}

.child-to-remove-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.child-to-remove-container:hover input ~ .radio-btn {
    background-color: lightgray;
}

.child-to-remove-container input:checked ~ .radio-btn {
    background-color: #4FA125;
}

.child-to-remove-container input:checked ~ .radio-btn:after {
    display: block;
}

.child-to-remove-container .radio-btn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background:#FF3800;
}

.body__carousel {
    position: relative;
    height: 300px;
    width: 90%;
    margin: 2rem auto;
    margin-top: 1rem;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body__carousel_trackContainer {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.body__carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
}

.body__carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: transform 250ms ease-in;
}

.body__carousel_btnLeft,
.body__carousel_btnRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.body__carousel_btnLeft {
    left: -40px;
}

.body__carousel_btnRight {
    right: -40px;
}

.body__carousel_btnLeft img,
.body__carousel_btnRight img {
    width: 12px;
}

.body__carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    padding-bottom: 2rem;
}

.body__carousel_indicator {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: #ccc;
    margin: 0 10px;
}

.body__carousel_indicator.current-slide {
    background: #777;
}

.is-hidden {
    display: none;
}

/*landing page*/
.ingredient__textChoice {
    font-size: 18px;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
}

.body__ingredient_groups {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem;
    width: 90%;
}

.body__category_list {
    background: rgb(255, 56, 0);
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Roboto', sans-serif;
    grid-column-gap: 0;
    justify-content: space-between;
    padding-left: 1rem;
}

section h2 {
    margin: 0;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

section i {
    font-size: 1.75rem;
    padding: .6rem;
    padding-right: 1rem;
}

.body__ingredients_list {
    border: 1px solid rgb(255, 56, 0);
    display: none;
}

label {
    margin: .5rem;
}

.ingredients__listItem,
.preferences__listItem {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ingredients__listItem input,
.preferences__listItem input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.ingredients__listItem:hover input ~ .checkmark-box,
.preferences__listItem:hover input ~ .checkmark-box {
    background-color: #ccc;
}

.ingredients__listItem input:checked ~ .checkmark-box,
.preferences__listItem input:checked ~ .checkmark-box {
    background-color: rgb(255, 56, 0);
}

.checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

.ingredients__listItem input:checked ~ .checkmark-box:after,
.preferences__listItem input:checked ~ .checkmark-box:after {
    display: block;
}

.ingredients__listItem .checkmark-box:after,
.preferences__listItem .checkmark-box:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.preference__textChoice {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

.body__preferences_group {
    margin: auto;
    margin-top: 1.5rem;
    text-align: center;
    width: 92%;
}

.body__preferences {
    background: rgb(255, 56, 0);
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    margin: 0;
    padding-left: 1rem;
}

.body__preferences h2 {
    margin: 0;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.body__preferences i {
    font-size: 1.75rem;
    padding: .6rem;
    padding-right: 1rem;
}

.preference__topLevel {
    /* display: none; */
}

.preference__category_title {
    margin-bottom: 6px;
    text-align: center;
}

.preference__categories {
    border-bottom: 1px solid rgb(255, 56, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 1rem;
}

.preferences__container {
    text-align: left;
    margin-left: 20%;
}

.loggedIn__message {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.ingredient__submit {
    display: flex;
    justify-content: center;
}

.ingredients__submitBtn, .submit-allergies-to-remove-btn, .remove-btn, .submit-btn,
.submit-pantry-items-to-remove-btn, .delete_child_submit {
    background: rgb(255, 56, 0);
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 2rem;
    margin-top: 1rem;
    padding: .5rem;
    text-align: center;
    width: 200px;
}