@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.allergy-list-btn, .delete__allergy_minus {
    background-color: rgb(117, 117, 22);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 40px;
    padding: 12px 24px;
}

.allergy-list-btn:hover, .delete__allergy_minus:hover {
    background-color: lightgrey;
    color: rgb(117, 117, 22);
    font-weight: bolder;
}

.body__carousel {
    position: relative;
    height: 350px;
    width: 90%;
    margin: 2rem auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body__carousel_trackContainer {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.body__carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
}

.body__carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: transform 250ms ease-in;
}

.body__carousel_btnLeft,
.body__carousel_btnRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.body__carousel_btnLeft {
    left: -40px;
}

.body__carousel_btnRight {
    right: -40px;
}

.body__carousel_btnLeft img, 
.body__carousel_btnRight img {
    width: 12px;
}

.body__carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    padding-bottom: 2rem;
}

.body__carousel_indicator {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: #ccc;
    margin: 0 10px;
}

.body__carousel_indicator.current-slide {
    background: #777;
}

.is-hidden {
    display: none;
}

.body__ingredient_groups {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
    width: 90%;
}

.body__category_list {
    background: rgb(255, 56, 0);
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    grid-column-gap: 0;
    justify-content: space-between;
    padding-left: 1rem;
}

section h2 {
    margin: 0;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

section i {
    font-size: 1.75rem;
    padding: .6rem;
    padding-right: 1rem;
}

.body__ingredients_list {
    border: 1px solid rgb(255, 56, 0);
}

label {
    margin: .5rem;
}

.ingredients__listItem {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ingredients__listItem input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.ingredients__listItem:hover input ~ .checkmark-box {
    background-color: #ccc;
}

.ingredients__listItem input:checked ~ .checkmark-box {
    background-color: rgb(255, 56, 0);
}

.checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

.ingredients__listItem input:checked ~ .checkmark-box:after {
    display: block;
}

.ingredients__listItem .checkmark-box:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ingredient__submit {
    display: flex;
    justify-content: center;
}

.ingredients__submitBtn {
    background: rgb(255, 56, 0);
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 2rem;
    padding: .5rem;
    text-align: center;
    width: 200px;
}